@model ShopWeb.Application.TransferObjects.Inventory.NewInventoryVm

@{
    ViewData["Title"] = "Dodawanie inwentaryzacji";
}


<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateInventory">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecuteWay" class="control-label"></label>
                <input asp-for="ExecuteWay" class="form-control" />
                <span asp-validation-for="ExecuteWay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsiblePerson" class="control-label"></label>
                <input asp-for="ResponsiblePerson" class="form-control" />
                <span asp-validation-for="ResponsiblePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyAddress" class="control-label"></label>
                <input asp-for="CompanyAddress" class="form-control" />
                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonToValue" class="control-label"></label>
                <input asp-for="PersonToValue" class="form-control" />
                <span asp-validation-for="PersonToValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonToCheck" class="control-label"></label>
                <input asp-for="PersonToCheck" class="form-control" />
                <span asp-validation-for="PersonToCheck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
